body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    background-color: #ad8d8d;
    }
    footer {
    text-align: center;
    padding: 20px;
    color: #222;
    font-size: 0.8rem;
}
